@use 'vars' as vars;
@use './modules/mixins/' as mixin;

body {
    font-size: vars.$default-fs;
    line-height: 140%;
    color: #000;
    font-family: 'Elsie', cursive;
    min-height: 100vh;
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.content {
    display: none;
    height: 100lvh;
    overflow-y: auto;

    &__inner {
        overflow-y: auto;
        padding: clamp(2.8rem, 15vw, 5rem) 0;
        @include mixin.df($posX: initial, $posY: initial, $fd: column);
        height: 100%;
        gap: 2rem;

        &:has(.advantages__action),
        &:has(.footer) {
            padding-bottom: 0
        }
    }
}

.button {
    @include mixin.button;
    padding: .77rem 1.5rem;
}

.title {
    @include mixin.title(2rem);
}

.subtitle {
    @include mixin.title($fs: 1.3rem, $color: vars.$default-color, $size: 4vw, $sfs: 1rem);
}

.title,
.subtitle {
    padding: 0 clamp(.5rem, 3vw, 1.5rem);
}