.portfolio {
  margin: auto;

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    padding: 0 clamp(.5rem, 3vw, 1.5rem);
    gap: clamp(.5rem, 3vw, 1.2rem);
  }

  &__image {
    width: 100%;
  }
}